<p style="margin: 0 0 16px; color: #334155;">Hi <%= @user.name.presence || @user.email %>,</p>

<p style="margin: 0 0 16px; color: #334155;">Your Feedback Page account has been suspended. You will not be able to sign in until your account is reactivated.</p>

<p style="margin: 0; color: #334155;">If you believe this was done in error, please contact support.</p>
